{% extends 'base.html' %}

{% block content %}
<div class="login-box">
    <h2>Tizimga Kirish</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">Kirish</button>
    </form>

    <p>Akkountingiz yo'qmi? Unda ro'yxatdan o'ting:</p>
    <ul>
        <li><a href="{% url 'register_candidate' %}">Nomzod sifatida</a></li>
        <li><a href="{% url 'register_company' %}">Kompaniya sifatida</a></li>
    </ul>
</div>
{% endblock %}